
<%if item_name !=""%>
    <% items.each do |item|%>
        <div style="margin-left:4px;margin-top:10px; font-size:21px"><%= item.item_name%></div>
        <hr>
    <%end%>
    <% items_category1.each do |item|%>
        <div style="margin-left:4px;margin-top:10px; font-size:21px"><%= item %></div>
        <hr>
    <%end%>
    <% items_category2.each do |item|%>
        <div style="margin-left:4px;margin-top:10px; font-size:21px"><%= item %></div>
        <hr>
    <%end%>
<%end%>